h1 {
    color: black;
}

h2 {
    color: orange;
}

h3 {
    background-color: lightskyblue;
    color: white;
}

h4 {
    background-color: lightblue;
}

h5 {
    background-color: lightgrey;
    color: darkorchid;
    text-align: left;
}

h6 {
    text-decoration:underline;
}

div.nopb {
    page-break-inside: avoid;
}

h2, h3, h4 { text-align: center }

big {  page-break-after: always;

}

table {
    page-break-inside: avoid;
    border: 1px solid black
}


blockquote {
  font-family: Georgia, "Times New Roman", serif !important;
  background-color: LightCyan !important;
}

.section.toc {
    display: none;
}
